doctype html
html
  head
    link(rel='stylesheet', href='/build/xterm.css')
    link(rel='stylesheet', href='/build/addons/fullscreen/fullscreen.css')
    link(rel='stylesheet', href='style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js')
    script(src='/build/xterm.js')
    script(src='/build/addons/attach/attach.js')
    script(src='/build/addons/fit/fit.js')
    script(src='/build/addons/fullscreen/fullscreen.js')
  body
    div.command-container
      div.text-center Common commands:
      div.command-text.m-t-2 qsearch -h
      div.command-text qsearch find | fetch | list -h
      div.command-text qsearch find -a basic | plus | pro | business
      div.command-text qsearch fetch -u [userId]
      div.command-text qsearch list -a basic | plus | pro | business -t days -n 40 -x new
    #terminal-container
    div(style='display: none')
      h2 Options
      p
        label
          input#option-cursor-blink(type='checkbox')
          |  cursorBlink
      p
        label
          | cursorStyle
          select#option-cursor-style
            option(value='block') block
            option(value='underline') underline
            option(value='bar') bar
      p
        label
          | scrollback
          input#option-scrollback(type='number', value='1000')
      p
        label
          | tabStopWidth
          input#option-tabstopwidth(type='number', value='8')
      div
        h3 Size
        div
          div(style='display: inline-block; margin-right: 16px;')
            label(for='cols') Columns
            input#cols(type='number')
          div(style='display: inline-block; margin-right: 16px;')
            label(for='rows') Rows
            input#rows(type='number')
    script(src='main.js', defer='')
